<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <p>Game details:</p>

    <a href="/games/<%= game.game_id %>/edit">Edit</a>

    <form
      method="POST"
      action="/games/<%= game.game_id %>/delete"
      style="display: inline"
      onsubmit="return handleDeleteAction(this, 'game')"
    >
      <input type="hidden" name="adminPassword" class="adminPasswordField" />
      <button type="submit">Delete</button>
    </form>

    <script src="/admin.js"></script>

    <p>
      <img src="/<%= game.image %>" alt="<%= game.title %>" />

      <%- game.title %> | <%- game.released %> | <%- game.genre_name ||
      'Undefined genre' %> | <% const validPlatforms =
      game.platforms.filter(platform => platform !== null); if
      (validPlatforms.length === 0) { %> Undefined platform <% } else {
      validPlatforms.forEach((platform, index) => { %><%= platform %><%= index <
      validPlatforms.length - 1 ? ' / ' : '' %><% }) } %>
    </p>

    <%- include('../partials/goBack') %> <%- include('../partials/footer') %>
  </body>
</html>
