<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <form
      action="/genres/<%= genre.genre_id %>/edit"
      method="post"
      onsubmit="return handleEditAction(this)"
    >
      <p><label for="name">Edit genre:</label></p>

      <%- include('../partials/showError') %>

      <input
        type="text"
        id="name"
        name="name"
        value="<%= genre.name %>"
        required
      />
      <input type="hidden" name="adminPassword" id="adminPasswordField" />
      <button type="submit">Update</button>
    </form>

    <script src="/admin.js"></script>

    <br />
    <%- include('../partials/goBack') %>

    <!-- <%- include('../partials/footer') %> -->
  </body>
</html>
