<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <form action="/platforms/new" method="POST">
      <p><label for="name">New platform:</label></p>

      <%- include('../partials/showError') %>

      <input
        type="text"
        id="name"
        name="name"
        value="<%= platform.name %>"
        required
      />

      <button type="submit">Add</button>
    </form>
    <br />
    <%- include('../partials/goBack') %>

    <!-- <%- include('../partials/footer') %> -->
  </body>
</html>
