<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <p><%= platform.name %> platform:</p>

    <a href="/platforms/<%= platform.platform_id %>/edit">Edit</a>

    <form
      method="POST"
      action="/platforms/<%= platform.platform_id %>/delete"
      style="display: inline"
      onsubmit="return handleDeleteAction(this, 'platform')"
    >
      <input type="hidden" name="adminPassword" class="adminPasswordField" />
      <button type="submit">Delete</button>
    </form>

    <script src="/admin.js"></script>

    <% if (games && games.length > 0) { %> <% games.forEach(game => { %>
    <p>
      <img src="/<%= game.image %>" alt="<%= game.title %>" />

      <%= game.title %> | <%= game.released %> | <%= game.genre ||
      'Undefined&nbspgenre' %> | <% game.platforms.forEach((platform, index) =>
      { %> <%= platform %><%= index < game.platforms.length - 1 ? ' / ' : '' %>
      <% }) %>
    </p>
    <% }) %> <% } else { %>
    <p>No games found for this platform.</p>
    <% } %> <%- include('../partials/goBack') %> <%-
    include('../partials/footer') %>
  </body>
</html>
