<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <p>All platforms:</p>

    <a href="/platforms/new">
      <button type="button">Add platform</button>
    </a>

    <ul>
      <% platforms.forEach(platform => { %>
      <li>
        <a href="/platforms/<%= platform.platform_id %>"
          ><%= platform.name %></a
        >
      </li>

      <% }) %>
    </ul>

    <!-- <%- include('../partials/footer') %> -->
  </body>
</html>
