<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>

    <p>
      <%- game.title %> | <%- game.released %> | <%- game.genre %> | <%-
      game.developer %> | <%- game.publisher %> | <%
      game.platforms.forEach((platform, index) => { %> <%= platform %><%= index
      < game.platforms.length - 1 ? ' / ' : '' %> <% }) %>
    </p>

    <!-- <%- include('partials/footer') %> -->
  </body>
</html>
