<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>

    <p>Game details:</p>

    <button type="button">Edit</button>
    <button type="button">Delete</button>

    <p>
      <%- game.title %> | <%- game.released %> | <%- game.genre || 'Undefined genre' %> | <% const validPlatforms = game.platforms.filter(platform =>
      platform !== null); if (validPlatforms.length === 0) { %> Undefined
      platform <% } else { validPlatforms.forEach((platform, index) => { %><%=
      platform %><%= index < validPlatforms.length - 1 ? ' / ' : '' %><% }) } %>
    </p>

    <%- include('partials/goBack') %>

    <!-- <%- include('partials/footer') %> -->
  </body>
</html>
