<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %> 
    
    <% if (games && games.length > 0) { %>
    <p><%= games[0].genre %> games:</p>
    <% games.forEach(game => { %>
    <p>
      <%= game.title %> | <%= game.released %> | <%= game.genre %> | <%=
      game.developer %> | <%= game.publisher %> | <%
      game.platforms.forEach((platform, index) => { %> <%= platform %><%= index
      < game.platforms.length - 1 ? ' / ' : '' %> <% }) %>
    </p>
    <% }) %> <% } else { %>
    <p>No games found for this genre.</p>
    <% } %>

    <%- include('partials/goBack') %>

    <!-- <%- include('partials/footer') %> -->
  </body>
</html>
