<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>

    <p>All genres:</p>
    <button type="button">Add genre</button>

    <ul>
      <% genres.forEach(genre => { %>
      <li><a href="/genres/<%= genre.genre_id %>"><%= genre.name %></a></li>
      <% }) %>
    </ul>

    <!-- <%- include('partials/footer') %> -->
  </body>
</html>
