<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>

    <p>All games:</p>

    <a href="/new">Add game</a>

    <ul>
      <% games.forEach(game => { %>
      <li>
        <a href="/games/<%= game.game_id %>">
          <img src="<%= game.image %>" alt="<%= game.title %>" />

          <%= game.title %>
        </a>
      </li>
      <% }) %>
    </ul>

    <%- include('partials/footer') %>
  </body>
</html>
